{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": ["error", "always-multiline"],
    "react/prop-types": 0,
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ExportDefaultDeclaration",
        "message": "Restricted default export, prefer namded exports!"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["./webpack/*", "*.config.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": 0
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
